<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<property name="LOG_DIR" value="c:/test/log" />
	<property name="SERVER_NAME" value="TestProject" />
	<property name="LOG_PATH_NAME" value="${LOG_DIR}/${SERVER_NAME}" />
	<property name="FILE_NAME" value="app" />

	<!-- FILE Appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="com.test.config.LogbackFilter" />
		<file>${LOG_PATH_NAME}/${FILE_NAME}.log</file>
		<!-- 일자별 로그파일 저장 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH_NAME}/${FILE_NAME}_%d{yyyyMMdd}.log.gz
			</fileNamePattern>
			<!-- 일자별 로그파일 저장 기간 설정 -->
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd}] [%d{HH:mm:ss.SSS}] [%p] [%F:%L] %m %n</pattern>
		</encoder>
	</appender>

	<appender name="AM_MSD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="com.test.config.LogbackFilter" />
		<file>${LOG_PATH_NAME}/AM/${FILE_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH_NAME}/AM/${FILE_NAME}_%d{yyyyMMdd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} : %m%n</pattern>
		</encoder>
	</appender>

	<appender name="BM_MSD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="com.test.config.LogbackFilter" />
		<file>${LOG_PATH_NAME}/BM/${FILE_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH_NAME}/BM/${FILE_NAME}_%d{yyyyMMdd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} : %m%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="com.test.config.LogbackFilter" />
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- [2018-08-17] [15:24:21.355] [log level] [logName] [class.java line] [message] -->
			<!-- 날짜 시간 로그레벨 로거이름 로그인클래스.java 몇번째줄 로그메세지 -->

			<!-- <pattern>[%d{yyyy-MM-dd}] [%d{HH:mm:ss.SSS}] %-3level %logger{5} - %msg %n</pattern> -->
			<pattern>[%d{yyyy-MM-dd}] [%d{HH:mm:ss.SSS}] [%p] %yellow([%F:%L]) %m %n</pattern>
		</layout>
	</appender>

	<!-- AM 수집 로그 파일 저장 -->
	<logger name="kr.co.neighbor21.ecall.geon.collection.server.resource" additivity="FALSE">
		<level value="INFO" />
		<appender-ref ref="AM_MSD_FILE" />
	</logger>

	<!-- BM 수집 로그 파일 저장 -->
	<logger name="kr.co.neighbor21.ecall.geon.collection.server" additivity="FALSE">
		<level value="INFO" />
		<appender-ref ref="BM_MSD_FILE" />
	</logger>

	<logger name="jdbc" level="OFF" />
	<logger name="jdbc.sqlonly" level="OFF" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.connection" level="OFF" />

	<springProfile name="local">
		<logger name="jdbc.resultsettable" level="INFO" /><!-- &DEBUG & & OFF 서버 반영시 OFF -->
		<logger name="jdbc.sqltiming" level="INFO" /><!-- &DEBUG & & OFF 서버 반영시 OFF -->
	</springProfile>
	
	<springProfile name="dev">
		<logger name="jdbc.resultsettable" level="INFO" /><!-- &DEBUG & & OFF 서버 반영시 OFF -->
		<logger name="jdbc.sqltiming" level="INFO" /><!-- &DEBUG & & OFF 서버 반영시 OFF -->
	</springProfile>

	<springProfile name="real">
		<logger name="jdbc.resultsettable" level="OFF" /><!-- &DEBUG & & OFF 서버 반영시 OFF -->
		<logger name="jdbc.sqltiming" level="OFF" /><!-- &DEBUG & & OFF 서버 반영시 OFF -->
	</springProfile>

	<!-- 모든 로그 출력 (파일/콘솔) -->

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
