<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.UserMapper">

	
	<select id="UserInfo" resultType="com.test.dto.UserDto">
		select	username 
				,password 	
				,depth1		
				,depth2		
				,position	
				,depth3		
				,role		
				,create_date	as createDate
				,del_yn		as delYN
				,delete_date	as deleteDate
				,is_changed_pw	as changedPw
				,try_count	as tryCount
		from 	eins_user
		where 	username = #{username}
	</select>
	
	<insert id="userInsert">
		insert into	
			eins_user(username, password, depth1, depth2, depth3, position, role )
		values(
			#{username}, #{password}, "경영기획본부", "개발팀", "김소연", "팀원", "ROLE_ADMIN")
	</insert>
	
	<select id="SalesInfo" resultType="com.test.dto.SalesDto">
		select	 i.depth1 as depth1
				 ,i.depth2 as depth2
				 ,i.depth3 as depth3
				 ,i.position as position
				 ,s.username as username
				 ,date_format(s.create_date, '%Y-%m-%d') as createDate
				 ,price
				 ,channel
				 ,sellershop
		from	days_sales s
		left join	eins_user i on i.username = s.username
		order by	price desc, s.create_date desc
	</select>
	
	<select id="daySales" resultType="int">
		select	sum(price) price
		from	days_sales
		where 	create_date between '2022-10-01' and '2022-10-31'	
		group by create_date
	</select>
	
	<select id="monthSales" resultType="int">
		select	sum(price) as price
		from	days_sales
		group by month(create_date)
		order by month(create_date)
	</select>
	
	
	<select id="latestJoin" resultType="com.test.dto.UserDto">
		select
			depth3
			,date_format(create_date, '%Y-%m-%d') createDate
		from
			eins_user
		order by create_date desc
		limit 4
	</select>
	 
	 <!-- salary -->
	 <insert id="salaryInsert" parameterType="com.test.dto.SalaryDto">
		insert into salary
		values
		<foreach collection="list" item="item" separator=" , " >
		(	
			(
			select ifNull(max(sno),0)+1 
			from salary as sno 
			)
			,#{item.username}
			,#{item.depth1}
			,#{item.depth2}
			,#{item.depth3}
			,#{item.salary}
			,#{item.grade}
			,#{item.incentive}
			,#{item.promotion}
			,#{item.posPlus}
			,#{item.smileCash}
			,#{item.ension}
			,#{item.healthIns}
			,#{item.employIns}
			,#{item.longTermIns}
			,#{item.incomeTax}
			,#{item.loincomeTax}
			,date_format(now(), '%Y-%m-%d')
		)
		</foreach>
	</insert>
	
	<select id="getSalaryList" resultType="com.test.dto.SalaryDto">
		select
			userName
			,depth1
			,depth2
			,depth3
			,salary
			,grade
			,incentive
			,promotion
			,posPlus
			,smileCash
			,enSion
			,healthIns
			,employIns
			,longtermIns
			,incomeTax
			,loincomeTax 
		from	salary	
			<if test="nowMonth != '' and nowMonth != null">
			where	date_format(create_date, '%Y-%m') = date_format(#{nowMonth}, '%Y-%m')
			</if>
		order by sno
	</select>
	 
	
</mapper>

